/* ------------------ Global settings ------------------ */

html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6,
p, ol, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Libre Baskerville', serif;
  color: #2D2D2D;
  min-height: 100vh;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 28px;
  color: #F65485;
  font-weight: bold;
}

.formula {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1050px;
  height: 100%;
  margin: auto;
  padding: 0 20px;
}

/* ----------------------- Header ---------------------- */

#header {
  background-color: #F65485;
  color: #fff;
  height: 56px;
}

#header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------- Page layout -------------------- */

#main .container {
  padding: 56px 20px;
  display: flex;
  min-width: 1050px;
}

.left-panel,
.right-panel {
  width: 50%;
}

.left-panel {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-panel {
  padding-left: 20px;
}

#page-content {
  height: 315px;
  overflow: scroll;
}

/* ------------------- Top Navigation ------------------ */

.nav-btn {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 25px;
  cursor: pointer;
}

/* inactive */

#btn-intro {
  background: url(../icons/intro/inactive.svg);
}

#btn-translate {
  background: url(../icons/translate/inactive.svg);
}

#btn-scale {
  background: url(../icons/scale/inactive.svg);
}

#btn-shear {
  background: url(../icons/shear/inactive.svg);
}

#btn-rotate {
  background: url(../icons/rotate/inactive.svg);
}

/* hover */

#btn-intro:hover {
  background: url(../icons/intro/hover.svg);
}

#btn-translate:hover {
  background: url(../icons/translate/hover.svg);
}

#btn-scale:hover {
  background: url(../icons/scale/hover.svg);
}

#btn-shear:hover {
  background: url(../icons/shear/hover.svg);
}

#btn-rotate:hover {
  background: url(../icons/rotate/hover.svg);
}

/* active */

#btn-intro.active {
  background: url(../icons/intro/active.svg);
}

#btn-translate.active {
  background: url(../icons/translate/active.svg);
}

#btn-scale.active {
  background: url(../icons/scale/active.svg);
}

#btn-shear.active {
  background: url(../icons/shear/active.svg);
}

#btn-rotate.active {
  background: url(../icons/rotate/active.svg);
}

/* --------------------- Pagination -------------------- */

.pagination {
  position: relative;
  display: flex;
  justify-content: center;
}

.pagination .previous,
.pagination .next {
  font-weight: bold;
  color: #F65485;
  cursor: pointer;
  position: absolute;
}

.pagination .previous {
  left: 0;
  top: 0;
}

.pagination .next {
  right: 0;
  top: 0;
}

.pagination .dots {
  cursor: default;
}

.pagination .dots .dot {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: rgba(246, 84, 133, 0.2);
  display: inline-block;
  margin-right: 8px;
}

.pagination .dots .dot.active {
  background-color: rgba(246, 84, 133);
}
